table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 20%;
    margin: 40px;
    font-size: 30px;
    text-align: center;
}

.Table {
    display: flex;
    justify-content: center;
}

.sort-container {
    display: flex;
    justify-content: center;
  }
  
.sort {
    font-size: 26px;
    padding: 6px 8px;
    font-weight: bold;
    width: 10%;
  }

.circle {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: darkorange;
    margin: 0 auto;
    margin-bottom: 20px;
}